.project {
   height: fit-content;
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-between;
   padding: 1.5rem;
   border-bottom: 2px solid green;
}

.projectData {
   display: flex;
   flex-direction: column;
   width: 70%;
   padding-right: 1.5rem;
}

.projectName {
   font-size: 1.5rem;
   color: green;
   margin-bottom: 1rem;
}

.projectImage {
   height: fit-content;
   width: fit-content;
   background-color: rgba(0, 128, 0, 0.114);
}

.projectImage img {
   width: auto;
   max-height: 300px;
   padding: .4rem;
   padding-bottom: .1rem;
}

.projectImageMobile {
   margin-top: 1.5rem;
   align-self: center;

   height: fit-content;
   width: fit-content;
   background-color: rgba(0, 128, 0, 0.114);
}

.projectImageMobile img {
   width: auto;
   max-height: 300px;
   padding: .4rem;
   padding-bottom: .2rem;
}

@media(max-width:1239px) {
   .projectImage {
      display: none;
   }

   .project {
      flex-direction: column;
      justify-content: center;
   }

   .projectData {
      padding: 0;
      /* width: 100%; */
   }
}

@media(min-width:1240px) {
   .projectImageMobile {
      display: none;
   }

   .project {
      width: 70vw;
      justify-content: space-between;
      padding: 1.5rem;
   }
}

@media(max-width:919px) {
   .projectData {
      width: 100%;
   }

   .project {
      padding: 1.5rem 0;
   }

   .projectImageMobile {
      height: fit-content;
      width: fit-content;
   }

   .projectImageMobile img {
      /* width: auto;
      max-height: 300px; */
      height: auto;
      width: 100%;
   }
}

@media(min-width:589px) {
   .projectImage {
      min-height: 305px;
      min-width: 530px;
   }
}

.links {
   margin-top: 1rem;
}

.link svg {
   fill: var(--font-color);
   transition: fill .2s ease;
}

.link:hover svg {
   fill: green
}

.link svg g {
   fill: var(--font-color);
   transition: fill .2s ease;
}

.link:hover svg g {
   fill: green
}

.technologiesContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.technologiesContainer svg {
   height: 30px;
}

.technologyContainer {
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   justify-content: center;
   position: relative;
   margin: 1rem;
   /* max-height: fit-content;
   max-width: fit-content; */
}

.technologyContainerCssModules {
   margin: 6px
}

.tooltip {
   position: absolute;
   top: -22px;
   right: 0;
   opacity: 0;
   color: #d5d1cc;
   /* background-color: rgb(85, 1, 85); */
   background-color: green;
   padding: .2rem .5rem;
   transform: translate(35%, -5px);
   transition: opacity .2s ease;
   border-radius: 2px;
   /* font-weight: 600; */
   min-width: max-content;
}

.technologyContainer:hover>.tooltip {
   opacity: 1
}

.link:hover .tooltip {
   opacity: 1
}

.cssModulesSvgContainer+.tooltip {
   transform: translateX(35%, 10px);
}

.cssModulesSvgContainer svg {
   height: 50px;
}

@media(max-width:599px) {
   .projectDescription {
      font-size: 1rem;
   }

   .tooltip {
      display: none;
   }
}

@media(max-width:499px) {
   /* .tooltip {
      transform: translate(0, -5px);
   } */
}