.container {
   display: flex;
   flex-direction: column;
   padding: 5% 3rem 1.5rem;
   text-align: left;
   user-select: none;
}

.title {
   font-size: 4rem;
   margin: 1rem 0;
   font-weight: 100;
}

.allProjectsContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
}

@media(max-width:599px) {
   .title {
      font-size: 3rem;
   }

   .container {
      padding: 1.5rem;
   }
}