.container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 5% 3rem 1.5rem;
   text-align: left;
   user-select: none;
}

/* VOLVER A VER normalizar title para todos los archivos */
.title {
   font-size: 4rem;
   margin: 1rem 0;
   font-weight: 100;
}

.name {
   color: green;
}

.description {
   font-size: 1.2rem;
   margin: 1rem 0;
}

.resume {
   transition: color .2s ease;
   display: flex;
   align-items: center;
}

.resume:hover {
   color: green;
}

.resume svg {
   fill: var(--font-color);
   transition: fill .2s ease;
   min-width: 32px;
   min-height: 32px;
   margin-left: 1rem;
}

.resume:hover svg {
   fill: green;
}

@media(max-width:599px) {
   .title {
      font-size: 3rem;
   }

   .container {
      padding: 1.5rem;
   }
}