.container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 3rem;
   padding-top: 5%;
   text-align: left;
   user-select: none;
}

.title {
   font-size: 4rem;
   margin: 1rem 0;
}

.description {
   font-size: 1.2rem;
   margin: 1rem 0;
}

.technologiesContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.technologiesContainer svg {
   height: 50px;
}

.technologyContainer {
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   justify-content: center;
   margin: .8rem;
   position: relative;
}

.tooltip {
   position: absolute;
   top: -22px;
   opacity: 0;
   /* background-color: rgb(85, 1, 85); */
   background-color: green;
   padding: .2rem .5rem;
   transform: translateX(35%);
   transition: opacity .2s ease;
   border-radius: 2px;
   min-width: max-content;
}

.technologyContainer:hover>.tooltip {
   opacity: 1
}

.cssModulesSvgContainer+.tooltip {
   /* transform: translate(35%, 10px); */
}

.cssModulesSvgContainer svg {
   height: 80px;
}