.container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 3rem;
   padding-top: 5%;
   text-align: left;
   user-select: none;
}

.title {
   font-size: 4rem;
   margin: 1rem 0;
}

.name {
   color: green;
}

.description {
   font-size: 1.2rem;
   margin: 1rem 0;
}

.resume {
   transition: color .2s ease;
}

.resume:hover {
   color: green;
}

@media(max-width:599px) {
   .title {
      font-size: 3rem;
   }

   .container {
      padding: 1.5rem;
   }
}