.container {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   /* background-color: rgb(0, 39, 0); */
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.gridItem {
   margin: .1rem;
   opacity: 0;
   background-color: green;
   height: 90px;
   width: 90px;
   transition: opacity 2s ease 0.4s, transform 0.8s ease;
   transform: scale(1);
}

.gridItem:hover {
   opacity: 1;
   transition: opacity 0.2s ease;
   transform: scale(1.04);
}