.container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding: 3rem;
   padding-top: 15%;
   text-align: left;
   user-select: none;
}

.greeting {
   font-size: 2rem;
   margin: 1rem 0;
}

.name {
   color: green
}

.title {
   font-size: 3.5rem;
}

.titleUnderline {
   background-color: green;
   height: 2px;
   width: 0;
   transition: width .3s ease;
}

.title:hover+.titleUnderline {
   width: 100%;
}

.name:hover+.titleUnderline {
   width: 100%;
}