.container {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-top: 185px;
   text-align: left;
   user-select: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 50;
   background-color: var(--background-color);
   overflow: hidden;
}

.greeting {
   font-size: 2rem;
   margin: 1rem 0;
}

.name {
   color: green
}

.title {
   font-size: 4rem;
}

.titleUnderline {
   background-color: green;
   height: 2px;
   width: 0;
   transition: width .3s ease;
}

.title:hover+.titleUnderline {
   width: 100%;
}

.name:hover+.titleUnderline {
   width: 100%;
}

@media(max-width:779px) {
   .titleUnderline {
      display: none;
   }

   .name {
      transition: color .2s ease;
   }

   .title {
      transition: color .2s ease;
   }

   .title:hover {
      color: green;
   }

   .name:hover {
      color: green;
   }
}

.content1 {
   animation: 1s ease Content forwards;
   opacity: 0;
}

.content2 {
   animation: 1s ease 1s Content forwards;
   opacity: 0;
}

.content3 {
   animation: 1s ease 2s Content forwards;
   opacity: 0;
}

@keyframes Content {
   0% {
      opacity: 0;
      transform: translate(0, 15px);
   }

   100% {
      transform: translate(0);
      opacity: 1;
   }
}

.totalCover {
   width: 0;
   height: 100%;
   position: absolute;
   top: 0;
   right: 0;
   transition: width .5s ease;
   background-color: var(--background-color);
   z-index: 90;
   overflow: hidden;
}

.totalCoverActive {
   width: 100%;
   animation: pop 2s forwards
}

@keyframes pop {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}