.title-link {
  display: flex;
  justify-content: flex-start;
  width: 750px;
  position: relative;
  top: 0;
  margin-top: 0.1rem;
  z-index: 100;
  opacity: 1;
}

.title-container {
  z-index: 100;
  height: 100%;
  transition: width 0.5s ease;
  position: relative;

  h1 {
    font-weight: 500;
    letter-spacing: -0.4rem;
    font-size: 10.1rem;
    display: inline;

    color: var(--font-color);
    height: 100%;
    width: 100vw;
    padding-left: 4rem;
  }
}

@media (max-width: 699px) {
  .title-container {
    h1 {
      font-size: 6rem;
    }
  }
}

@media (max-height: 799px) {
  .title-container {
    h1 {
      font-size: 6rem;
    }
  }
}

@media (max-width: 449px) {
  .title-container {
    h1 {
      font-size: 4rem;
    }
  }
}

.link-selectable {
  cursor: pointer;

  &:hover {
    .background-hover {
      width: 100vw;
    }
  }
}

.link-not-selected {
  z-index: 80;
  width: 100%;
  /* background-color: red; */
  transition: opacity 0.01s ease 0.5s;
  opacity: 0;
}

.background-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 70;
  transition: width 0.5s ease;
  overflow: hidden;
  background-color: green;
}

/* VOLVER A VER sin usar */
.backgroundCoverLink {
  right: 0;
  width: 100%;
  z-index: 50;
}

.link-selected {
  animation: linkFadeOut 2s 0.5s forwards;
}

/* VOLVER A VER cambiar nombre a fadeOut */
@keyframes linkFadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* z-index
100 title-link
90 totalCover
80 not-selected
70 background */
