.title-container-link {
   display: flex;
   justify-content: center;
   width: 100%;
   position: relative;
   top: 0;
   transition: all .5s ease;
}

.title-container-link-selectable {
   cursor: pointer;
}

.title-container-link h1 {
   font-weight: 500;
   letter-spacing: -.4rem;
   height: 100%;
   font-size: 8rem;
}

.title-container-link-not-selected {
   visibility: hidden;
}

.title-container {
   z-index: 30;
   height: 100%;
   transition: width .5s ease;
   position: relative;
}

.title {
   color: var(--secondary-color);
   height: 100%;
   width: 100vw;
   padding-left: 4rem;
}

.title-background-hover {
   position: absolute;
   top: 0;
   width: 0;
   height: 100%;
   z-index: 20;
   transition: width .5s ease;
}

.title-background-hover-active {
   background-color: green;
   left: 0;
   top: 0;
}

.title-background-cover-link {
   right: 0;
   width: 100%;
   z-index: 50;
}

.title-hover-container {
   z-index: 30;
   position: absolute;
   left: 0;
   top: 0;
   overflow: hidden;
   width: 0;
   transition: width .5s ease;
   display: flex;
   flex-direction: column;
}

.title-hover {
   color: var(--secondary-color);
   width: 100vw;
   padding-left: 4rem;
}

.title-container-link-selectable:hover .title-background-hover {
   width: 100%;
}

.title-container-link-selectable:hover .title-hover-container {
   width: 100%;
}

.title-container-link-not-selected .title-background-cover-link {
   background-color: var(--primary-color);
}

.title-container-link-selected {
   animation: pop 2s forwards
}

@keyframes pop {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 1;
   }

   100% {
      opacity: 0;
   }
}