.formContainer {
   width: 70%;
   min-width: 250px;
   transition: max-height .5s ease;
   overflow: hidden;
   max-height: 45rem;
   margin-top: 1rem;
}

.description {
   font-size: 1.5rem;
}

.containerHideForm {
   max-height: 0;
}

/* VOLVER A VER normalizar todos los transition */
.showSuccess {
   max-height: 10rem;
   transition: max-height 1s ease;
}

.success {
   display: flex;
   align-items: center;
   color: green;
}

.success svg {
   min-width: 2rem;
   min-height: 2rem;
   margin-right: 1rem;
}

.form {
   display: flex;
   flex-direction: column;
}

.inputContainer {
   margin: .5rem 0;
   height: fit-content;
   position: relative;
}

.fieldNameContainer {
   min-height: 2.5rem;
   height: fit-content;
   display: flex;
   align-items: center;
}

.fieldName {
   font-weight: 600;
}

.input {
   margin-top: .2rem;
   padding: .3rem;
   border: 1px solid var(--font-color);
   border-color: transparent;
   width: 100%;
}

.input:focus {
   outline: none;
}

button {
   border: 1px solid transparent;
}

.input:disabled,
button[type="submit"]:disabled {
   cursor: not-allowed;
}

.input:disabled,
button[type="submit"]:disabled,
input.input:-internal-autofill-selected {
   background-color: rgba(239, 239, 239, 0.3) !important;
   /* background-color: red !important; */
   /* background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgb(59, 59, 59)) !important; */
   /* color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170)) !important; */
   color: rgba(151, 151, 151, 0.501) !important;
   border-color: rgba(118, 118, 118, 0.3) !important;
}

/* input:-webkit-autofill,
input:-webkit-autofill:focus {
   transition: background-color 600000s 0s, color 600000s 0s;
}


input:-webkit-autofill {
   box-shadow: 0 0 0px 1000px rgba(239, 239, 239, 0.3) inset;
   -webkit-box-shadow: 0 0 0px 1000px rgba(239, 239, 239, 0.3) inset;
} */

.inputError {
   border-color: red;
}

.form button:disabled {
   cursor: not-allowed;
}

.form textarea {
   resize: vertical;
   max-height: 250px;
   height: auto;
   min-height: 6rem;
   padding-bottom: 2.5rem;

}

.radialProgress {
   height: 35px;
   width: 35px;
   position: absolute;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   bottom: .5rem;
   right: 1rem;
}

.radialProgress span {
   /* color: var(--background-color); */
   z-index: 10;
   font-size: .9rem;
   font-weight: 600;
}

/* .radialProgress:before {
   content: '';
   position: absolute;
   background-color: white;
   height: 25px;
   width: 25px;
   border-radius: 50%;
} */

.radialProgressBefore {
   position: absolute;
   /* background-color: white; */
   height: 25px;
   width: 25px;
   border-radius: 50%;
}


.error {
   color: red;
   /* color: purple; */
   font-weight: 600;
   display: flex;
   align-items: center;
}

.error svg {
   color: red;
   margin-right: .5rem;
   min-height: 24px;
   min-width: 24px;
}

.submitContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
}


.spinner {
   color: var(--font-color);
   scale: .8;
   margin-top: .1rem;
   /*! ver aca */
}

.errorPlaceholder {
   visibility: hidden;
}

button[type="submit"] {
   width: 10rem;
   height: 2.5rem;
   cursor: pointer;
   transition: background-color 2s ease 0.4s, color 2s ease 0.4s;

   background-color: transparent;
   color: var(--font-color);
   font-weight: 600;
}

button[type="submit"]:hover {
   background-color: rgb(0, 176, 0);
   background-color: green;
   transition: background-color 0.2s ease, color 0.2s ease;
   color: #d5d1cc;
}

.inputContainer:last-child {
   align-self: center;
}

@media(max-width:599px) {
   .description {
      font-size: 1.2rem;
   }
}

button[type="submit"]:hover.waiting,
.input:disabled.waiting {
   cursor: wait;
}

button[type="submit"]:hover.buttonError {
   background-color: red;
}