.form-container {
  width: 70%;
  min-width: 250px;
  transition: max-height 0.5s ease;
  overflow: hidden;
  max-height: 45rem;
  margin-top: 1rem;
}

/* VOLVER A VER normalizar description */
.form-text {
  font-size: 1.5rem;
}

.container-hide-form {
  max-height: 0;
}

/* VOLVER A VER normalizar todos los transition */
.show-success {
  max-height: 10rem;
  transition: max-height 1s ease;
}

.success {
  display: flex;
  align-items: center;
  color: green;

  svg {
    min-width: 2rem;
    min-height: 2rem;
    margin-right: 1rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  color: var(--font-color);
  scale: 0.8;
  position: relative;
  top: 3px;
}

.input-container {
  &:last-child {
    align-self: center;
  }
}

@media (max-width: 599px) {
  .form-text {
    font-size: 1.2rem;
  }
}
