.input {
  margin-top: 0.2rem;
  padding: 0.3rem;
  border: 1px solid var(--font-color);
  border-color: transparent;
  width: 100%;

  &:focus {
    outline: none;
  }

  &:disabled.waiting {
    cursor: wait;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: rgba(239, 239, 239, 0.3) !important;
    /* background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgb(59, 59, 59)) !important; */
    /* color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170)) !important; */
    color: rgba(151, 151, 151, 0.501) !important;
    border-color: rgba(118, 118, 118, 0.3) !important;
  }

  &:-internal-autofill-selected {
    background-color: rgba(239, 239, 239, 0.3) !important;
    /* background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgb(59, 59, 59)) !important; */
    /* color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170)) !important; */
    color: rgba(151, 151, 151, 0.501) !important;
    border-color: rgba(118, 118, 118, 0.3) !important;
  }
}

.input-error {
  border-color: red;
}
