.navbar-container {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  transition: background-color 0.2s ease;
  width: 100vw;
  height: 4rem;
  box-shadow: #45525f5b 0px 1px 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  user-select: none;
  z-index: 40;
}

.language-button {
  width: 3rem;
  height: 30px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.2s ease;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}

.language-button:hover .language-hover {
  top: 5px;
}

.language-button:hover .language-current {
  top: 28px;
}

.language-current {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  transition: top 0.1s ease;
}

.language-hover {
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
  transition: top 0.1s ease;
  color: green;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  margin-left: 1rem;
}

.buttons-box {
  display: flex;
}

.button {
  width: 6rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.9rem;
}

.bottom-selector {
  margin-top: 3px;
  height: 2px;
  width: 6rem;
  background-color: green;
  transition: transform 0.2s ease;
}

@media (max-width: 719px) {
  .bottom-selector {
    display: none;
  }

  .button {
    display: none;
  }

  .navbar-container {
    height: 3.5rem;
  }

  .selectors {
    display: none;
  }
}

.selectors {
  margin-right: 2rem;
}
