.container {
   position: sticky;
   top: 0;
   background-color: var(--primary-color);
   transition: background-color .2s ease;
   width: 100vw;
   height: 4rem;
   box-shadow: #45525f5b 0px 1px 4px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   user-select: none;
   z-index: 40;
}

.mobileHomeButton {
   width: 6rem;
   height: 2rem;
   margin-left: 1rem;
   font-weight: 600;
   font-size: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: color .2s ease;
}

.mobileHomeButton:hover {
   color: green;
}

.language {
   width: 3rem;
   height: 30px;
   font-size: .9rem;
   font-weight: 600;
   cursor: pointer;
   transition: color .2s ease;
   padding: .5rem;
   position: relative;
   overflow: hidden;
}

.language:hover .languageHover {
   top: 5px;
}

.language:hover .languageCurrent {
   top: 28px;
}

.languageCurrent {
   position: absolute;
   top: 5px;
   left: 0;
   right: 0;
   transition: top .1s ease;
}

.languageHover {
   position: absolute;
   top: -15px;
   left: 0;
   right: 0;
   transition: top .1s ease;
   color: green;
}


.buttonsContainer {
   display: flex;
   flex-direction: column;
   margin-top: 6px;
   margin-left: 1rem;
}

.buttonsBox {
   display: flex;
}

.button {
   width: 6rem;
   height: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   font-weight: 600;
   font-size: .9rem;
}

.bottomSelector {
   margin-top: 3px;
   height: 2px;
   width: 6rem;
   background-color: green;
   transition: transform .2s ease;
}

@media (max-width: 719px) {
   .bottomSelector {
      display: none;
   }

   .button {
      display: none;
   }

   .container {
      height: 3.5rem;
   }

   .selectors {
      display: none;
   }
}

@media (min-width: 720px) {
   .mobileMenu {
      display: none;
   }

   .mobileHomeButton {
      display: none;
   }

   .selectors {
      display: flex;
   }
}

.mobileMenu {
   position: fixed;
   width: 100vw;
   height: 100%;
   background-color: green;
   top: -110%;
   transition: top .5s ease;
   z-index: 30;
   user-select: none;
}

.showMobileMenu {
   top: 3.5rem;
}

.mobileButtonsContainer {
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   color: var(--primary-color);
   padding-top: 1rem;
}

.mobileButtonsContainer a:hover {
   width: 9rem;
   transition: color .2s ease;
}

.mobileButtonsContainer a:hover {
   color: var(--secondary-color);
}

.mobileButton {
   width: 7rem;
   cursor: pointer;
   font-weight: 600;
   font-size: 1.4rem;
   margin: 1.5rem 1rem;

}

.mobileButton:hover {
   cursor: pointer;
   font-weight: 600;
   font-size: 1.4rem;
   margin: 1.5rem 1rem;
}

.mobileCurrentSection {
   width: 7rem;
   cursor: pointer;
   font-weight: 600;
   font-size: 1.4rem;
   margin: 1.5rem 1rem;
   color: var(--secondary-color);
}

.selectors {
   margin-right: 2rem;
}

.themeButtons {
   margin-right: .5rem;
   position: relative;
}

.lightThemeButton,
.darkThemeButton {
   cursor: pointer;
}

.rays {
   position: absolute;
   left: 0px;
   top: -2px;
}

.themeButtons svg {
   fill: var(--secondary-color);
   transition: fill .3s ease;
}

.lightThemeButton .rays {
   scale: 0;
   transition: scale .2s ease;
}

.lightThemeButton:hover .rays {
   scale: 1;
}

.darkThemeButton .rays {
   scale: 1;
   transition: scale .2s ease;
}

.darkThemeButton:hover .rays {
   scale: 0;
}

.lightThemeButton:hover svg,
.darkThemeButton:hover svg {
   fill: #00ab00;
}

.mobileSelectors {
   display: flex;
   align-items: center;
   width: 15rem;
   border-top: 2px solid var(--secondary-color);
   margin-top: 1rem;
   padding: 2.5rem 1rem;
   justify-content: center;
}

.languageMobileContainer {
   font-weight: 600;
   font-size: 1.2rem;
   margin: 0 1rem;
   transition: color .2s ease;
   display: flex;
   align-items: center;
   justify-content: center;
}

.languageMobile {
   cursor: pointer;
   height: 1.5rem;
   width: 4rem;
   position: relative;
   overflow: hidden;
}

.languageMobileCurrent {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   transition: top .1s ease;
}

.languageMobileHover {
   position: absolute;
   left: 0;
   right: 0;
   transition: top .1s ease;
   top: -22px;
   color: var(--secondary-color);
}

.languageMobile:hover .languageMobileCurrent {
   top: 22px;
}

.languageMobile:hover .languageMobileHover {
   top: 0;
}

.mobileSelectors .themeButtons {
   width: 4rem;
   margin: 0 1rem;
}

.mobileSelectors .rays {
   left: 20px;
   top: -4px;
}

.mobileSelectors .lightThemeButton svg,
.mobileSelectors .darkThemeButton svg {
   scale: 1.5;
}

.mobileSelectors .lightThemeButton:hover svg {
   fill: var(--secondary-color);
}

.mobileSelectors .darkThemeButton:hover svg {
   fill: var(--secondary-color);
}