.theme-button {
  margin-right: 0.5rem;
  position: relative;

  svg {
    fill: var(--font-color);
    transition: fill 0.3s ease;
  }
}

.rays {
  position: absolute;
  left: 0px;
  top: -2px;
}

.light-theme-button {
  cursor: pointer;

  .rays {
    scale: 0;
    transition: scale 0.2s ease;
  }

  &:hover {
    .rays {
      scale: 1;
    }

    svg {
      fill: #00ab00;
    }
  }
}

.dark-theme-button {
  cursor: pointer;

  .rays {
    scale: 1;
    transition: scale 0.2s ease;
  }

  &:hover {
    .rays {
      scale: 0;
    }

    svg {
      fill: #00ab00;
    }
  }
}

.mobile-selectors {
  .theme-button {
    width: 4rem;
    margin: 0 1rem;
  }

  .rays {
    left: 20px;
    top: -4px;
  }

  .dark-theme-button {
    svg {
      scale: 1.5;
    }

    &:hover {
      svg {
        fill: var(--font-color);
      }
    }
  }

  .light-theme-button {
    svg {
      scale: 1.5;
    }

    &:hover {
      svg {
        fill: var(--font-color);
      }
    }
  }
}
