.mobile-selectors .theme-buttons {
  width: 4rem;
  margin: 0 1rem;
}

.mobile-selectors .rays {
  left: 20px;
  top: -4px;
}

.mobile-selectors .light-theme-button svg,
.mobile-selectors .dark-theme-button svg {
  scale: 1.5;
}

.mobile-selectors .light-theme-button:hover svg {
  fill: var(--font-color);
}

.mobile-selectors .dark-theme-button:hover svg {
  fill: var(--font-color);
}

.theme-buttons {
  margin-right: 0.5rem;
  position: relative;
}

.light-theme-button,
.dark-theme-button {
  cursor: pointer;
}

.rays {
  position: absolute;
  left: 0px;
  top: -2px;
}

.theme-buttons svg {
  fill: var(--font-color);
  transition: fill 0.3s ease;
}

.light-theme-button .rays {
  scale: 0;
  transition: scale 0.2s ease;
}

.light-theme-button:hover .rays {
  scale: 1;
}

.dark-theme-button .rays {
  scale: 1;
  transition: scale 0.2s ease;
}

.dark-theme-button:hover .rays {
  scale: 0;
}

.light-theme-button:hover svg,
.dark-theme-button:hover svg {
  fill: #00ab00;
}
