.container {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   /* background-color: rgb(1, 48, 1); */
   background-color: var(--primary-color);
   z-index: 100;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   flex-direction: column;
   user-select: none;
   animation: fadeOut 2s 7s forwards;
}

@keyframes fadeOut {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 1;
      /* z-index: 100; */
   }

   100% {
      opacity: 0;
      z-index: -1;
   }
}

.textContainerOuter {
   display: flex;
   flex-direction: column;
   width: 310px;
   height: 105px;
   animation: fadeOutContent 2s 5s forwards;
}

@keyframes fadeOutContent {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 1
   }

   100% {
      opacity: 0;
      z-index: -1;
   }
}

.textContainer {
   display: flex;
}

.topCursor {
   height: 2rem;
   width: 2px;
   margin-left: 6px;
   background-color: var(--secondary-color);
   animation: topCursor 1s 1.5s forwards;
}

.cursorWriting {
   height: 0;
   width: 2px;
   margin-left: 6px;
   background-color: transparent;
   animation: cursorWriting 2s 2s forwards;
}

@keyframes cursorWriting {
   0% {
      background-color: var(--secondary-color);
      height: 2rem;
   }

   99% {
      background-color: var(--secondary-color);
      height: 2rem;
   }

   100% {
      background-color: transparent;
      height: 2rem;
   }
}

.bottomCursor {
   height: 0;
   width: 2px;
   margin-left: 6px;
   background-color: transparent;
   transform: translateX(-8px);
}

.showBottomCursor {
   height: 2rem;
   animation: bottomCursor 1s infinite 2.5s forwards;
}

@keyframes topCursor {
   0% {
      background-color: transparent
   }

   100% {
      background-color: transparent
   }
}


@keyframes bottomCursor {
   0% {
      opacity: 1;
      background-color: var(--secondary-color);
   }

   50% {
      background-color: var(--secondary-color);
      opacity: 1
   }

   51% {
      background-color: var(--secondary-color);
      opacity: 0
   }

   100% {
      background-color: var(--secondary-color);
      opacity: 0;
   }
}