@keyframes pop {
   0% {
      opacity: 1;
   }

   99% {
      opacity: 1;
   }

   100% {
      opacity: 0;
      z-index: -1;
   }
}

@keyframes fadeOut {
   0% {
      opacity: 1;
   }

   50% {
      opacity: 1
   }

   100% {
      opacity: 0;
      z-index: -1;
   }
}