.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #181a1b; */
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a {
  color: inherit;
}

.content {
  animation: 1s ease Content forwards;
  min-height: 100%;
}

@keyframes Content {
  0% {
    opacity: 0;
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}