* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  width: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

#root {
  background-color: var(--background-color);
  transition: background-color .2s ease;
  min-height: 100vh;
}

body {
  background-color: #000000;
}

.crt-filter {
  font-family: "Poppins", sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  transition: background-color .2s ease;
  color: var(--font-color);
  position: relative;
}

.crt-filter::before {
  width: 100%;
  /*   min-height: -webkit-fill-available;
 */
  min-height: 100vh;
  height: 100%;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(87, 87, 87, 0) 50%,
      rgba(62, 62, 62, 0.25) 50%),
    linear-gradient(90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06));
  z-index: 10000;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.content {
  animation: 1s ease Content forwards;
}

@keyframes Content {
  0% {
    opacity: 0;
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

:root {
  --red: red;
  --green: green;
  --yellow: rgb(255, 187, 0);
  --black: rgb(0, 0, 0);
}